[2016-01-14 20:18] techninja commented on #237
## _WOO TEAMWORK!_
![giphy](https://cloud.githubusercontent.com/assets/320747/12336312/c568417c-bab8-11e5-9994-8376435b839f.gif)

[2016-01-14 20:18] #237 closed

[2016-01-16 07:54] oskay commented on #252
![screen shot 2016-01-15 at 11 49 07 pm](https://cloud.githubusercontent.com/assets/1009180/12371286/a906345a-bbe2-11e5-869f-d79e713d4433.png)

The current dialog box is shown above. It says, "Are you sure you want to quit? Your changes will not be saved before printing. Click OK to Quit."

This dialog *makes no sense whatsoever* in this context-- the user has not requested to print. Indeed, click

[2016-01-16 19:07] oskay commented on #232
Is there a (good) reason that the brush height controls migrated to the "Advanced" tab?

[2016-01-18 04:05] techninja commented on #252
I am very aware how awful and stupid the text has become in the adjusted context, we just couldn't decide on the right way to talk about it what's going on and why... The other issue is that it uses the _**old**_ style confirm dialog that was limited to the standard "OK/Cancel" buttons.

The problem with talking about "switching modes" is (as discussed in the original issue), modes don't know _why

[2016-01-18 04:15] techninja commented on #232
Fitting everything all over the place with everything else is difficult. I was left with the feeling that these controls are (as by design) less required for the average user. Their defaults are perfectly workable for most "default" situations. Knowing where to put stuff and make it reasonably easy for a user to find and use are very tricky, and settings has almost grown to be its own gigantic app

[2016-01-19 00:56] oskay commented on #252
Is a single dialog box used for quitting *every* mode, or is there a different dialog box for each mode?

[2016-01-19 00:57] oskay commented on #252
The purpose of the dialog box is to prevent unanticipated loss of data.

- It is appropriate to give this warning when quitting directly from edit mode.
- It is *not* as necessary to give the warning when moving from edit to print mode, since we're not actually quitting... and data will not necessarily be lost.
- It is once again appropriate to give this warning when quitting from a different mode

[2016-01-19 20:56] techninja commented on #252
Currently (as discussed in the original issue), only edit mode presents a warning dialog when closing if not saved. There was discussion about moving this to be global for all modes, or making this a dialog specific to losing your "transfer data" SVG on global close, but we never fully decided.

I have a proposal, though it's a bit more complicated: We eschew the need for any dialogs, by keeping a

[2016-01-20 00:49] oskay commented on #252
That sounds fine, although it sounds like _much_ more work than detecting whether you're quitting or switching modes.

An alternative suggestion: Change the dialog to read "Save changes before leaving edit mode?"

[2016-01-20 02:06] techninja commented on #252
I think it adds benefit without TOO much work, AND it solves the problem where other modes step on other mode content without warnings.

**Work Mockup:**
* Before mode save to data (through `mode.svg.save([data])`, if there's data in it, save that out as a file with the name as an MD5 hash of data, in a given folder in the RP user directory.
* "Recent work" dropdown lists all files in that directo

[2016-01-21 22:48] oskay commented on #252
Keeping it to 10 or 20 documents is quite sane.

[2016-01-25 18:01] docprofsky commented on #163
Electron has support for auto-updating on Windows and OS X now. For Linux the preferred way for updates is to use the system package manager.
https://github.com/atom/electron/blob/master/docs/api/auto-updater.md

OS X Squirrel server requirements
https://github.com/Squirrel/Squirrel.Mac#server-support
Windows allows using GitHub for distributing the releases
https://github.com/Squirrel/Squirrel.Wi

[2016-01-25 18:25] techninja commented on #163
I have a PHP server available, so can easily write a PHP script that simply pulls information from publicly available Github API resources. That's kind of what I wanted to do anyways, have this all be powered by Github.

[2016-01-26 02:00] docprofsky commented on #163
How do we want to implement the UX for updating?
@oskay might have some ideas for this.

[2016-01-26 03:13] oskay commented on #163
One method is to put up a dialog box during startup, if there is a new version available. Another would be to put the text where the current version number is written now.

[2016-01-26 03:24] docprofsky commented on #163
I thought about that, but I want to avoid going out to the network without informing the user before. I am thinking of something where it prompts the user if they want auto-update or want to check for updates manually before going out to the internet.

Also should we add some configuration for a proxy server when checking for updates?

[2016-01-26 03:28] oskay commented on #163
A "check for updates" button is a fine thing to do as well.

[2016-01-26 03:29] oskay commented on #163
Do you see a particular need for a proxy server option? I don't see that it's obviously necessary.

[2016-01-26 03:30] docprofsky commented on #163
I do not see a need for a proxy server option that much.

Where should the check for updates button be located?

[2016-01-26 03:32] oskay commented on #163
How about top-center of the settings window -- in the title bar?

[2016-01-26 03:42] docprofsky commented on #163
That should work fine. What about a toggle to check for updates on startup?
How should the user be prompted to restart and install the update?

[2016-01-26 03:47] oskay commented on #163
Yes, a toggle is a fine idea... but since that's a setting, it should go further down in the settings menu.

The mechanism of the update depends a good deal on how we'll be installing it.  If there's a full installer, it could prompt the user to quit RoboPaint. If it's just an application to drag, as on the Mac, that's another issue altogether.  Not sure of the best way to handle that.

[2016-01-26 03:57] docprofsky commented on #163
I am planning on using the updating facilities built into Electron for Windows and OS X. This should be the same (UX and backend) auto-update system used by Atom. On OS X the UX would be clicking "Check For Updates", in the settings menu, or starting the software and be prompted to install the update. If they click the button to "Relaunch and update" the app will then close and open with the updat

[2016-02-19 23:20] oskay opened #253 ""Background" performance extremely poor"
I've been testing the Scratch/Snap interface, working on the Mac, with RoboPaint running.
Things seem to mostly be working when RoboPaint is the "foreground" app-- not running in the background.

When a different application is in the foreground-- say, Chrome running Snap, or even just a text editor, painting continues, but with a delay of about 0.5 seconds between any two movements (line segment,

[2016-02-19 23:28] docprofsky commented on #253
I have noticed this when using robopaint-mode-comic. It seems to have something to do with whether the GPU is rendering the RoboPaint window. When RoboPaint is not in focus, but still visible (partially or fully) it will be fine. When RoboPaint is no longer visible then I experience the same behavior as @oskay.

[2016-02-20 02:10] techninja commented on #253
Odd, and yet, not entirely surprising. I believe there's a flag for ensuring that we get higher performance whether the app is foreground or background, and can even add an OS "toolbar" mode, where the App is only an icon but still running in "foreground mode".

I'm going to mark this as high priority and might be addressing it a bit in my new cncserver performance branch coming up.

[2016-02-28 13:14] RI0 commented on #235
Has a general release been made to correct this?
I need to point a teacher to a URL she can download
and install. She would like to use the Watercolor Bot
in class and it no longer connects to her machine.
She has OS X El Capitan 10.11.3 on a MacBook Air,
no development tools.

[2016-02-28 18:47] oskay commented on #235
@RI0 The release available for download at: https://github.com/evil-mad/robopaint/releases/tag/v2.0.0-Beta.1-2016.01.13 is fully functional and does not require development tools. It has the "beta" label and a few dialog boxes here and there that could use better wording, but it is certainly "good enough" to use.

(Not sure if it's what you want to use, but the Inkscape driver is also updated for

[2016-03-04 20:29] RI0 opened #255 "Serendipity Seed : Art Creation and Print Production"
We had an interesting discussion the other night about the WaterColor Bot
and if it was able to create Art or if it was just a printer. We talked about
the differences between creating art and creating prints. Although this could
be a bit contentious, one of the ideas about creating certain kinds of art was
related the artist's or the machine's ability to reproduce it.

Could we look at adding a S

[2016-03-04 20:47] oskay commented on #255
That's a wonderful idea. We've noticed that -- at least when using actual water color paints -- prints often seem to be unique in their own way. The final painting depends on the level of paint and water, the types of paint used, and so forth. Adding some intentional variation (a "mood", if you will) sounds like fun approach as well.

However, it might also be worth considering painting modes that

[2016-03-04 23:46] RI0 commented on #255
I agree that the prints are often nuanced for a variety of reasons...
usually string tension or what seems to be random re-inking with our bot.

A full generative mode would be great if we can do it.

It may be easier to start with some extra +/- error based
on some sort of unique starting place. It could be an audio file,
a YouTube video, or a piece of data from one of the various
open data progr

[2016-03-04 23:51] oskay commented on #255
This is off-topic, but string tension should not contribute to print variability (if it does, please contact technical support, or take out the slack in the cords yourself). Also, re-inking should be quite deterministic -- try running the same print twice, to see if it does re-ink at the same place. (You can just watch it with the brush out, to verify this.)  If there is some random element there,

[2016-03-05 00:04] RI0 commented on #255
OK - Noted.
Have dealt with string tension and will video tests on the inking - last time it did not
do it at the same place. Will make sure the laptop has the latest version of RoboPaint.
We also tried to run the print on top of the previous painting to see if they lined up - the
variance in the layers is part of what led to the Serendipity conversation.

[2016-03-10 22:33] RI0 commented on #255
We tightened the strings and reinstalled RoboPaint. Prints are
consistent and re-inking takes place at the same time with
each print ( tested with 3 runs on the same page )
Not sure what was happening but it does not seem to be an
issue now. Thank you.

[2016-03-15 01:51] rogerfachini commented on #255
@RI0 If you didn't already know, last year for Robogames I made a fully generative app that takes audio input (file, microphone, etc) and makes a spiral pattern from it in real time. I wrote it in python, but I can start porting it over to JS as a mode if you guys think it could be useful

[2016-03-15 22:21] RI0 commented on #255
@rogerfachini - I did not know that. That sounds really exciting.
My little sister Sofia is entering the RobotArt competition with
her class.

A generative mode in RoboPaint would be great. Have you ever
thought about using Perlin Noise.

PERLIN NOISE - CLOUD EXAMPLE
http://www.noisemachine.com/talk1/24b.html

ANOTHER EXAMPLE
http://josephg.github.io/noisejs/demo3d.html
https://github.com/josephg/

[2016-03-16 00:15] RI0 commented on #255
Or maybe there are items here in JS that could be useful

TUTORIALS
http://p5js.org/tutorials/

EXAMPLE WAVE - with Noise
http://p5js.org/examples/examples/Math_Noise_Wave.php

EXAMPLE BRUSH "Error" using Noise
http://p5js.org/examples/examples/Math__Noise1D.php

[2016-03-17 07:09] docprofsky commented on #170
Modes now provide their own graphic (SVG or bitmap) to use as an icon. Unless you think this still needs resolution I advise this issue be closed.

[2016-03-17 17:29] techninja commented on #170
Yup, that was the intent.

[2016-03-17 17:29] #170 closed

[2016-03-17 23:12] docprofsky commented on #193
### 3D Line Art Generator
https://camo.githubusercontent.com/e38a23f4ab5674acc1eb149e19b252b5f237c946/687474703a2f2f692e696d6775722e636f6d2f485932466732742e706e67
Using https://github.com/fogleman/ln

[2016-03-17 23:16] docprofsky commented on #193
### Handwriting Font Mode
This could be integrated with robopaint-mode-example.
http://kevinhou.wix.com/projects#!handwriting-font-app/cbfk

[2016-03-17 23:21] docprofsky commented on #193
### Iterograph Mode
![example iterograph](https://cloud.githubusercontent.com/assets/6558271/13864098/29903270-ec5c-11e5-8e9f-d184eddf1744.png)
http://iterograph.laboiteatortue.com/

[2016-03-19 01:56] docprofsky commented on #193
#### Birthday Cake Mode
Makes a drawing of a birthday cake with an adjustable number of candles.
This would take care of #136

[2016-03-19 15:54] RI0 commented on #193
AUTOCAD MODE

Could be fun to be able to produce robot drawn versions of AutoCad
or Sketch-Up Drawings with nuanced line-weight and stroke-weight.

http://www.cadnstuff.com/sylb/bdrs_penwts/LineThick.pdf

[2016-03-26 20:21] oskay commented on #253
It sounds like the performance branch is coming along nicely. Any guess when we might have a new build? :)

[2016-03-26 22:47] techninja commented on #253
It is. Though I've need to make time to prioritize it, and my day job has taken precedence. If you haven't seen, there's lots of chat on the [RP gitter channel](https://gitter.im/evil-mad/robopaint?at=56f04ad5745dcc317038bf3a), and we have some flavor of acceleration conversion actually tested working, though it assumes full deccel for every move, it's a great POC to show a further abstraction bet

[2016-03-26 22:56] oskay commented on #253
That all sounds great.
I would recommend using the acceleration only for _pen up_ moves, at least initially. (We have a branch of the Inkscape-based software (wcb-ink) that has that as well.)

[2016-03-26 23:23] techninja commented on #253
Got it. Obviously some things will need to be tweaked, @docprofsky Did a python->Js conversion and it definitely needs some adjustment.

[2016-03-26 23:26] oskay commented on #253
Yes; I had planned to suggest this (or possibly implement myself in js) once things were further along.

[2016-03-28 21:58] docprofsky commented on #253
@oskay these are the changes I made to add acceleration. I still need to handle short moves that from a curve.
https://github.com/docprofsky/cncserver/compare/performance...docprofsky:accelerated-performance

[2016-03-31 02:39] techninja commented on #249
Woot, Thank you sir! :smile:

[2016-04-01 23:08] techninja opened #260 "RoboPaint: Beta 2 Release checklist"
Some of the biggest improvements to come in the latest Beta1 release have now been vetted and shown to work fairly well, but those that haven't have been somewhat prioritized and will need to be fixed in the forthcoming Beta2 release.

This issue is to discuss exactly what those issues are and prioritize them over other things to get the Beta2 release out sooner rather than later, so we can be one

[2016-04-01 23:22] oskay commented on #260
Great-- excited about this!

#252 & #253 are definitely at the top of my list.

- I would make Spiral _not_ a default mode.

[2016-04-02 00:19] techninja commented on #260
Awesome! It should be noted then that the fix for #253 has already been implemented in c6deca82c. This would allow people with node.js installed locally to simply check a box and be freed from any background slowdowns that could effect running the buffer. Admittedly this would still effect the buffer filler, but I think we can't know for sure how far reaching the effect is till we can reproduce th

[2016-04-02 00:36] oskay commented on #260
(It would be much, much better to have this in a build, such that people who just _download_ RoboPaint could have it working at reasonable speeds, too.)

[2016-04-02 01:35] techninja commented on #260
It will. I think you misunderstand that. The new cncserver runs multiprocess in an electron webview by default, and the option shown above is for running it in a completely separate node.js process. The first one doesn't requir eyou to do anything different in running or installation and runs great, the second allows you to get past the "minimized in the background" performance issue that electron

[2016-04-02 01:57] oskay commented on #260
Then confirmed that I don't understand. It sounded like you said that this was for people who have node.js installed.

[2016-04-02 02:29] techninja commented on #260
The **_background performance_** issue fix is for people with node.js installed who click the checkbox. The full perfomance stuff you get regardless. I just printed a full Mona Lisa at 100% speed (no paint) from opening and pressing the button to done in ~3min. There is now basically zero time from when the data is built to when it's printing, and it spools faster than the bot can print at full sp

[2016-04-02 23:14] rubyjlp commented on #260
In regards to having Spiral Paint not being a default mode -
I actually like having it as a default. It's a really cool functionality of the program and I think newcomers would want to see what kinds of capabilities it has. @oskay, I think I recall you saying on a different thread that you thought it didn't have good enough instructions. Personally, I found it very simple to use, but if you'd like

[2016-04-03 01:32] oskay commented on #260
I welcome differing opinions! If you're willing to help out with the documentation-- to make it absolutely clear to a novice how to use it _well_, then I'm happy to have it on the default screen.

[2016-04-06 21:13] techninja commented on #253
@docprofsky What are your findings on the improvement from the performance branch? If you find it works we're one step closer to closing this :)

[2016-04-12 00:32] techninja commented on #260
CNCServer Scratch tests are now all passing beautifully. Required a bit more rework, but the good news is that running a child process doesn't effect the other child processes, so when running the test, it suddenly has grandchildren! Also added a new command line option to just show serial data, so if you want to see serial, you don't have to see debug stuff, and vice-versa.

I'd really like to ge

[2016-04-12 00:39] oskay commented on #260
This all sounds great.

Excited to hear about better performance from Scratch, especially.

I would again recommend acceleration for pen-up movements only, at this stage-- if at all. I can help with fine tuning that code if needed.

How about a close-up of a stippled drawing for the icon?

[2016-04-12 00:45] techninja commented on #260
Seeing as Schuyler is off doing FRC, I don't see accel stuff getting in till after beta2 anyways.  Icon idea is doable.

[2016-04-14 01:53] docprofsky commented on #253
I tested both native and non-native runners and there is no discernible difference between their performance. The bottleneck is in the mode sending the commands to CNCServer, and not CNCServer itself.

This flag fixes the problem.
`disable-background-timer-throttling`
http://peter.sh/experiments/chromium-command-line-switches/#disable-background-timer-throttling

[2016-04-19 21:57] oskay commented on #242
This is an excellent idea. I'd be very happy to have this functionality present, even if we don't yet support custom pen sets.

[2016-06-10 17:07] oskay opened #262 "Extreme slowness when tracing certain files"
Attached are two example files where RoboPaint seems to hang in the tracing stage. One of them is a very simple file, but still after 1 hour is in tracing (see screenshot).

(I have not verified this except on the Mac.)

![nothing after 1 hour screenshot](https://cloud.githubusercontent.com/assets/1009180/15972380/13e8bc88-2ef3-11e6-8863-f2849e1270fd.png)

[RoboPaintFails.zip](https://github.com/e

[2016-06-12 18:35] docprofsky opened #263 "Use enum, object, or strings for penmode"
It would be nice to use an object (as an enum), enum, or strings for the different penmodes.
If we use an object this is applicable.
[http://stackoverflow.com/questions/287903/enums-in-javascript#comment31871260_287917](Using objects as an enum)
We could also use an enum library.

@techninja what do you think?

[2016-06-13 00:07] #253 closed

[2016-06-13 01:03] docprofsky commented on #263
Should I use an object, strings, or an enum library?

[2016-06-13 02:43] docprofsky commented on #262
This is half fixed/bypassed.
evil-mad/robopaint@b3374fa fixes the problem with `nothing after 1 hour.svg`, but `nothing.svg` is still breaking RP.

Each file is causing problems in different places.
`nothing after 1 hour.svg` here https://github.com/evil-mad/robopaint/blob/e3f8e5b7d13cc2ccd6ef7a15bdee2e32175e4a20/resources/rp_modules/paper.auto.fill.js#L757
`nothing.svg` here https://github.com/ev

[2016-06-13 20:58] forresto opened #264 "Spiral paints Mona Lisa after choosing a different photo"
Chose a different photo, it traced it, looks good... do print and it took a looong time to figure out it was actually painting Mona Lisa.

[2016-06-13 21:02] oskay commented on #264
We have had one additional report of this; not sure what the root cause is.

However, this may not be the best place to discuss it-- perhaps we should open an issue directly at: https://github.com/techninja/robopaint-mode-spiral/issues

[2016-06-13 21:29] forresto commented on #264
Moved to https://github.com/techninja/robopaint-mode-spiral/issues/3

[2016-06-13 21:29] #264 closed

[2016-06-16 07:44] techninja commented on #252
Closing this as the PR is in #266

[2016-06-16 07:44] #252 closed

[2016-07-06 19:42] techninja commented on #193
#### MODE IDEA: Maze mode
![amazing](http://i.imgur.com/o8Pasm6.png)

Creates mazes! Found a little code here, uses paperjs already. [Unicursal maze generator](http://sketch.paperjs.org/#S/rVdbb9owFP4rFtPUpAQKaNUmVvawanuYtGlSJ+2BIJQmBlyCjZwE2lH++44dO7ET03bV4CHE5/b53Dl0aLTBnXHnZo3zeNUJOjFLxPsu4ihfkXhNcZahCRq9C6k4y3LO1vg3SfIVnNYcXaQZyB8s+C81f8RzeKd4j34yQnPve5Sv+jEmqSdYL0Z+gOTRImWM6zM/pKV8Gt0+cBADayF

[2016-07-06 20:18] forresto commented on #193
@techninja that's my labyrinth! Will help test. https://github.com/forresto/sketch/blob/master/labyrinth-01.paper.js

I have the start of [an interactive one](http://sketch.paperjs.org/#S/tVjbbuM2EP0VrovCUqwoF+y2gBu3QNPuQ9FdLLAF+mAbBiONZcUyaVBUEjfrf++QIiXSkpO4QO0HWZwLZ85cOPTzgNENDMaDr2uQyWoQDRKeqveLC/KboBnZUrkikpMNXQMp6N1O5EyuZkzReXVXwHlS5MlasdBK8g2VeUKLYkeWeVHM2Iw9UEHKLU1ylpEJuX5vVqTga/g7T1H7hFz9

[2016-07-06 20:22] forresto commented on #193
@techninja That's a gray path drawn over a thicker black path. Is there something in paper or robopaint that could approximate that (stroke the inside and outside of one path)?

[2016-07-06 20:29] techninja commented on #193
Sure. Just differentiate what gets created as the "movement path" vs the path shown on screen. In the latest RoboPaint we draw to the paper.js "Action" layer the polygons that will become the x/y coordinate movements for the robot. You can also do path manual offsetting to take a given shape and trace an inset version of it.

[2016-07-16 19:32] docprofsky commented on #262
I have done more testing on these files and have added some more fixes for them. They are in the flatten-fix branch. I believe I have found all of the problems caused by the files for all except the overlay fill types.

Should I open a PR for flatten-fix?

[2016-07-17 14:58] Reff99 commented on #262
Hello - I'm the person with the problem, who first sent the files. As a relatively non-technical person, can someone tell me if there is now an update which lets me now paint these and other files (these were just two examples: I couldn't reproduce nearly every file I tried). Thanks!

[2016-07-17 19:19] techninja commented on #262
Once testing is done and the remaining fixes has been merged we should be in good shape to roll there next beta release _very soon_. @docprofsky has been finding and fixing bugs so it's good we're sticking with our current plan.

[2016-07-17 20:05] Reff99 commented on #262
Ok, thanks a lot
Brian

[2016-07-17 23:09] docprofsky commented on #262
@Reff99 Can you run the `flatten-fix` branch and see if you still get any issues with it?

[2016-07-17 23:23] oskay commented on #262
@docprofsky: If you're going to ask a question like that, you should provide explicit instructions for how to test it. For example, is there a compiled version available to test somewhere? Or, if an existing RoboPaint install can be modified by replacing certain files, please describe how to do so.

[2016-07-18 00:29] #118 closed

[2016-07-18 00:32] docprofsky commented on #137
Is this implemented enough to close?

[2016-07-18 17:20] techninja commented on #137
@docprofsky It's in the beta/master. Feel free to test.

[2016-07-18 21:19] ajpiano commented on #262
With @docprofsky's branch and help I was able to get "Nothing after 1 hr.svg" to print successfully and also got some other pieces to trace and begin printing more or less "successfully" as well :) Seems like this is... better than what's there !

[2016-07-19 01:16] #262 closed

[2016-07-19 17:14] slimline33 commented on #260
Hi techninja,

I make a diy plotter and I think about to use cnc-server on a raspberry for stand alone usage.

I love your software robopaint. I wish the possibility to make a virtual device and connect to the cnc server by a ip number or something. Then anybody can use your robopaint for all cnc/drawing machines :)

[2016-07-19 18:10] techninja commented on #260
@slimline33 Hello! In the soon to be released beta we have experimental remote IP address cncserver support! Certain parts about it are a little broken, specifically machine selection, but it does mostly work. If you've made your own plotter, I'm assuming using the [EBB](http://www.schmalzhaus.com/EBB/), you should be able to make a new ini configuration file and run this on the Raspberry Pi. Thou

[2016-07-19 22:52] slimline33 commented on #260
@techninja Great. I am currently in the planning stage and I'm looking for a very very simple solution. At the moment I will use the EBB. However, an Arduino would not be bad. Especially as regards the extensibility! I would prefer even a tool change (different pens) and the EBB have only 2 motor outputs and one servo out. And I'm not familar with the ic ... but currently still dreaming.

Once it

[2016-07-19 22:54] EmbeddedMan commented on #260
Don't forget that the EBB can easily support up to 8 RC servos, so you
could build a tool changer with several servos using the EBB.

*Brian

On Tue, Jul 19, 2016 at 5:52 PM, slimline33 <notifications@github.com>
wrote:

[2016-07-19 22:56] slimline33 commented on #260
@EmbeddedMan ! Oh. Thank you very much. that was new to me.

[2016-07-30 18:21] techninja commented on #227
I'm going to take a wild guess and say this has been tested and managed, if there's further issues they can be opened against [the project directly](https://github.com/evil-mad/robopaint-mode-remote) or RP here :)

[2016-07-30 18:21] #227 closed

[2016-07-30 18:23] techninja commented on #260
Unfortunate we didn't get #242 in for this, but the timeline just didn't have it. Beta 2 release was locked and tagged for Friday, July 29 2016 (my 33rd Birthday!), should be out of draft and published by Monday or Tuesday night.

[2016-07-30 18:23] #260 closed

[2016-07-30 18:27] techninja commented on #241
This project is up at https://github.com/techninja/robopaint-mode-stipple, would love to get it into RP Beta 3, but need some time to smooth out the issues and get the mac and windows binaries compiled.

[2016-07-30 18:27] #241 closed

[2016-07-30 19:10] techninja commented on #235
I believe this is managed with the latest soon to be 2 releases. Closing this out, can be re-opened if there's issues with the new releases.

[2016-07-30 19:10] #235 closed

[2016-07-30 19:14] techninja commented on #232
I'm going to call this done as we seem to be living quite well with the majority of the big changes made here. Piecemeal improvement should continue to happen in other tickets.

[2016-07-30 19:14] #232 closed

[2016-07-30 19:22] techninja commented on #137
This has been merged and can be tested as part of 2.0.0 Beta 2. It's not ALL there, but it is in UI.

[2016-07-30 19:36] techninja commented on #213
I did this, and I don't think people actually like it. I'm going to take votes in here from @docprofsky @oskay etc if this should be left in after Beta 2, or heavily modified. I'm very open to suggestions.

[2016-07-30 19:47] techninja commented on #236
I'm going to assume that being given the ability to create and export SVG text from within a mode in RP is enough to move on with this. If not this can be re-opened.

[2016-07-30 19:47] #236 closed

[2016-08-02 20:03] #73 closed

[2016-08-02 20:09] docprofsky commented on #207
[Multi]
What robots do you use with RoboPaint?
- WaterColorBot
- AxiDraw
- EggBot
- Other

[2016-08-09 17:41] oskay opened #275 "Some SVG files appear to be all black in color"
<img width="125" alt="screen-shot-2016-08-03-at-17 26 37" src="https://cloud.githubusercontent.com/assets/1009180/17526616/cf745e28-5e1c-11e6-9e7d-7c1a89276639.png">

Some SVG files, when opened in RoboPaint, show the correct shapes, but filled with solid black color. As this appears in the edit mode, where the file can be imported, it has consequences for using the file elsewhere in RoboPaint as

[2016-08-10 21:24] RI0 commented on #275
I had the same problem with files created in Adobe Illustrator.
Sometimes it was possible to flatten the image or export individual
layers and then re-layer the images in RoboPaint.

[2016-08-10 21:35] oskay commented on #275
If you can provide an example for us to work with, that would be helpful. :)

[2016-08-11 20:43] RI0 commented on #275
THIS ONE WAS FINE

<svg width="11in" height="7.697917in" xmlns="http://www.w3.org/2000/svg">
 <g>
  <g id="svg_1">
   <path fill="#ff0000" stroke-width="0" id="svg_2" d="m617.637695,130.172241c8.200012,-8.500008 7.700012,-9.200005 19.500061,-9.200005c11.799927,0 11.799927,14.299995 23.699951,14.299995c11.799988,0 11.799988,-18.099998 23.700012,-18.099998c11.800049,0 11.800049,4.199997 23.700012,4.

[2016-08-11 20:59] RI0 commented on #275
It looked like Illustrator added extra header information and it
created a style sheet in the SVG.

`<?xml version="1.0" encoding="utf-8"?>

<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 841.9 595.3" style="enable-background:new 0 0 841.9 595.3;" xml:space="preserve">
<style type="text/css">
	.st0{fill:#

[2016-08-11 21:02] RI0 commented on #275
Since Github will not accept an SVG the extension was changed to txt
[PPT.txt](https://github.com/evil-mad/robopaint/files/414221/PPT.txt)

[2016-08-11 21:05] oskay commented on #275
I would recommend using a zip archive for SVG files; they can be attached here, and it's a way to prevent corruption by browsers during the upload/download process.

[2016-08-30 21:10] oskay commented on #262
Fantastic-- thank you for following up!

[2016-08-30 23:15] ajpiano commented on #275
It seems the difference is rooted in one of the export options from Illustrator; selecting "Style Attributes" results in RoboPaint being able to deal with the colors, "Style Elements" results in all black in RoboPaint, as you can see in this screenshot where I imported each svg into robopaint.
<img width="458" alt="screen shot 2016-08-30 at 19 12 32" src="https://cloud.githubusercontent.com/assets

[2016-08-30 23:46] oskay commented on #275
Interesting; I have seen various errors with AI SVG export (with other options) before. Thank you for labeling these files clearly!

One possible approach (depending on where the offending SVG parsing code lies) would be to give the user a warning, and some words about how to properly export from AI. However, this is a little unkind, since many people will be working from artwork of unknown origin

[2016-09-15 18:54] docprofsky opened #276 "Add issue template"
We should add an issue template to make it clear what is needed for reporting a bug or requesting a feature.

Here is my suggestion for a template
[code]

[2016-09-15 18:59] techninja commented on #276
Because this is handled by files in the repository, you can just go ahead and open a pull request for this :smile:

Closing.

[2016-09-15 18:59] #276 closed

[2016-09-28 01:25] docprofsky commented on #63
Do we want to also add the other common menus, Edit, View, Window, and Help?

[2016-09-28 02:21] oskay commented on #63
We should add them *only if* their commands can be implemented *and* work well

[2016-09-28 02:31] docprofsky commented on #63
It would only have the default commands, copy, cut, bring all to front, help, and what not.
Also this would only be for OS X.

[2016-09-28 02:43] docprofsky commented on #34
Closing because duplicate of #163.

[2016-09-28 02:43] #34 closed

[2016-09-28 02:44] docprofsky commented on #163
From @oskay on #34:

[2016-09-28 03:21] docprofsky commented on #120
Is the examples Quickload different from the current examples menu?

[2016-09-28 03:21] docprofsky commented on #204
Seeing where RoboPaint is at and going we should skip this release and just do a 2.0.0 release.

[2016-09-28 03:25] docprofsky commented on #35
Would this issue be the implementation of a UI for the controls? If not then this issue does not belong here.

[2016-09-28 03:28] docprofsky commented on #88
@techninja Would this need changes in both RoboPaint and CNCServer or just CNCServer?

[2016-09-28 03:49] docprofsky commented on #193
From @RI0 in #255:

#### MODE IDEA: Serendipity Seed Mode
Could we look at adding a Serendipity Button in the Print Mode
that would render the current print absolutely unique?

The button could open a window to generate the Serendipity Seed
based on a set of variables such as :

Time of Day,
Current Cloud Cover,
Current Temperature,
or some other system based or human entered variable related to t

[2016-09-28 03:49] docprofsky commented on #255
If this is implemented it probably should be done as a separate mode. I have added this mode idea to #193.
https://github.com/evil-mad/robopaint/issues/193#issuecomment-250064913

[2016-09-28 03:49] #255 closed

[2016-10-03 00:35] techninja commented on #88
CNC server only, it both. Honestly if we enabled it for the EBB/wcb, we'd have no reason to have lower resolution.

[2016-10-03 00:38] techninja commented on #35
I don't think it was ever for UI, perhaps just a global key command. Also moving like this absolutely might not be directly possible with the current API

[2016-10-03 00:45] techninja commented on #204
Yea. Closing.

[2016-10-03 00:45] #204 closed

[2016-10-03 00:57] techninja commented on #120
Yep. It used to just be the text list, but now it's the thumbnail picture list. This ticket is mostly about making that same feature as useful as possible. Add some default folder listing, with slide out side menus. a bit like a native quick load "recent files" menu, though likely more visual. Could easily use some modern JS library I can't seem to find. This is actually low level enough and the A

[2016-10-03 00:58] techninja commented on #120
Not the getting more examples thing though, that would still need to be done by someone who's done lots of prints on the various bots and has good CC or public domain art available

[2016-10-03 01:08] techninja commented on #163
In Atom, there's a little "[toast](http://codeseven.github.io/toastr/demo.html)" style message that appears, or sometimes ever less obvious. I can imaging doing this on the bottom left. The way updates usually work for Atom is that the update is downloaded, and you only tell the user that they'll get the new version on the next launch. It's easily the least intrusive, and allows people who opened

[2016-10-03 01:19] techninja commented on #63
This has changed quite a bit since the NW.js days. There's another issue thread somewhere on here about defaults for menus and what that might mean globally. In truth, Cut/copy/paste doesn't obviously make any sense for most modes in a globally assumed context. The one place it does, fakes its own menu (edit mode). An ABOUT menu does make sense, at least globally. Lets not confuse or redirect the

[2016-10-03 06:44] docprofsky commented on #88
RoboPaint is supposed to work with many bots regardless of their coordinate system; so if changing the number of steps (and updating the dimensions correspondingly) breaks RP then that is a bug.

I will close this unless you can think of some reason we should have to change RoboPaint for this.

[2016-10-03 15:23] techninja commented on #88
Yes, really this is just a bot setup thing for WCB, OR you could define another WCB as "super resolution WaterColorBot" then select it as an alternative machine.

[2016-10-03 22:11] oskay commented on #88
Really, this is an option that could be configured in the machine definition file in cncserver.

Larger question: Should there be a clear support mechanism for machine-dependent options like that?

[2016-10-03 23:15] techninja commented on #88
Yup, machine config is exactly what I was talking about :).

Machine dependent options is basically a CNCserver configuration that exposes machine specific config to client applications. We do that somewhat globally, but right now machine configs are entirely limited to ini files (and therefore can't really handle exposing custom configs). There's talk of _seriously_ extending machine config to fa

[2016-10-04 21:01] oskay commented on #63
Sounds great.

[2016-10-11 01:28] scruss opened #281 "No build for Linux x86_64"
### Description

Robopaint will not run on 64 bit systems as the binaries are all 32 bit.

#### Steps to reproduce OR Feature idea (Delete one)
  1. extract the archive
  2. double click on the icon
  3. … nothing happens
  4. open a terminal, execute the program, and get `error while loading shared libraries: libgobject-2.0.so.0: cannot open shared object file: No such file or directory`
  5. che

[2016-10-11 02:08] oskay commented on #281
Have you tried the newer versions? I would recommend trying with v2.0.0 Beta 2.

[2016-10-11 12:43] scruss commented on #281
I followed the *[Click here for the latest release](https://github.com/evil-mad/robopaint/releases/tag/v0.9.5-2015.01.25)* link under [Downloads / Install](https://github.com/evil-mad/robopaint#downloads--install "Downloads / Install"), and it took me to v0.95

[2016-10-11 13:19] docprofsky commented on #281
v0.9.5 is the latest stable release, however the v2.0.0-Beta.2 (and Beta.1) release have many significant improvements to RoboPaint. We probably should update the documentation to reflect this.

You can find the v2.0.0-Beta.2 release on the [releases page](https://github.com/evil-mad/robopaint/releases).

[2016-10-11 16:17] oskay commented on #281
It does indeed link to the older version. :(
This does appear to be a significant failure of documentation.

Would you please give the current version a try?

[2016-10-11 16:18] docprofsky commented on #281
It links to the most recent release, ignoring pre-releases.

[2016-10-11 22:34] oskay opened #284 "[Build] Add minimum node version requirement"
### Description

I tried to build RP from source, but it failed, requesting .net/Visual C++ components. Root cause was outdated node.

#### Feature idea

Require minimum node version 4.6.0 when installing.

#### What operating system are you running?
Windows: 9

#### How did you install RoboPaint?
Running from source

#### What robot are you using?
AxiDraw
WaterColorBot
EggBot
All of the above

##

[2016-11-06 02:00] techninja commented on #242
@oskay Finally got some time to get this silly thing out of the way.  This is what it looks like when a manualswap is triggered. the `__color__` would be replaced with whatever the translated RP name for the given tool index is (99% of the time is going to be a color).

![robopaint _053](https://cloud.githubusercontent.com/assets/320747/20034791/48a5fcc4-a388-11e6-8f86-63a6e811a30a.png)

Text is..

[2016-11-09 04:51] techninja commented on #242
Apparently CNCServer API never had support for unlocking the motors while paused! Whoops. Turns out that's ab obvious requirement to do this at all. Sheesh.

[2016-11-09 07:03] techninja commented on #242
The PR for this work is in #287

New screenshot:
![robopaint _054](https://cloud.githubusercontent.com/assets/320747/20129784/24cb0c14-a607-11e6-8b5b-b6db95e2baa5.png)

Full text for all the buttons/options:
[code]

[2016-12-16 06:51] pelikhan opened #288 "Painting is 1 inch off"
### Description

Everything works fine with 0.9. However with 2.0beta3, the painter starts with a 1 inch offset in x and y. It misses the second water holder and picks the wrong color. Reseting the painter does not solve the problem. Note that I had to install 0.9 to get the drivers.

#### Steps to reproduce OR Feature idea (Choose one)

1. Install 2.0beta3
2. Try to print.

#### Version affected

[2016-12-16 06:53] pelikhan opened #289 "After installation of 2.0, RobotPaint cannot be found on Windows"
### Description

No App menu entry, desktop icon to relaunch RoboPaint after installation.

#### Steps to reproduce OR Feature idea (Choose one)
  1. Run installer
  2. Close robopaint
  3. Try to run again.

#### Version affected (if bug)

2.0beta3

#### What operating system are you running?
Windows: 10

#### How did you install RoboPaint?
System installer

#### What robot are you using?
WaterCo

[2016-12-16 07:04] oskay commented on #288
When you say "Reseting the painter," can you please clarify what you are referring to?

And, if you try to print the same thing twice, is the position of painting the same both times?

[2016-12-16 07:05] oskay commented on #289
Can you please specify what the failure mode is? You say "Try to run again", but don't say what it is that you're actually doing, nor what the behavior is when you do that.

[2016-12-16 07:14] pelikhan commented on #288
unplug both cables, park home motor, replug both cables, close/launch robotpaint again.

Yes, the offset error is consistent. Roughly 1 inch in both directions. I can hear the motor skipping when trying to more the brush beyond the allowed distance. I can provide video if needed.

[2016-12-16 07:15] pelikhan commented on #289
Ha it does work now of course. Open start menu and search for "robopaint". Sorry for the confusion.

[2016-12-16 07:15] #289 closed

[2016-12-16 07:57] docprofsky commented on #288
After the motors skip do they skip again?
Does this happen with one of the examples?

This seems like it might be an issue with the CNCServer WaterColorBot machine definition. RoboPaint should not be able to command a move outside the robot bounds.

[2016-12-16 07:59] oskay commented on #288
Does it return to home properly after finishing?

[2016-12-16 08:21] oskay commented on #288
Also: Can you please say what driver you needed? The WaterColorBot does not need a separate driver in Windows 10.

[2016-12-17 04:22] pelikhan commented on #288
I first installed 2.0beta3 and the printer was not recognized by robopaint. So I installed 0.9.5, which installs a driver, and it started working.

Get Outlook for iOS<https://aka.ms/o0ukef>

________________________________
From: Windell Oskay <notifications@github.com>
Sent: Friday, December 16, 2016 12:21:11 AM
To: evil-mad/robopaint
Cc: Peli de Halleux; Author
Subject: Re: [evil-mad/robopaint]

[2016-12-17 04:22] pelikhan commented on #288
No, it sits within 1 inch of proper home location.

Get Outlook for iOS<https://aka.ms/o0ukef>

________________________________
From: Windell Oskay <notifications@github.com>
Sent: Thursday, December 15, 2016 11:59:50 PM
To: evil-mad/robopaint
Cc: Peli de Halleux; Author
Subject: Re: [evil-mad/robopaint] Painting is 1 inch off (#288)

Does it return to home properly after finishing?

-
You are re

[2016-12-17 05:27] oskay commented on #288
It sounds like all of the positions are off then-- that suggests that there may be a mechanical problem-- this may be independent of RoboPaint.  Does the same issue occur at lower speeds?  And, have you tried to use the Inkscape software to see if things are working there?

[2016-12-17 06:00] pelikhan commented on #288
It print correctly in RoboPaint 0.9.5.

[2016-12-17 06:13] pelikhan commented on #288
The InkScape extension v1.1.0 worked fine.

[2016-12-21 20:48] oskay commented on #288
Did you re-install the current version after going back to 0.9.5?

[2017-01-07 22:04] mrericboyd opened #290 "spiral mode only paints Mona Lisa image"
### Description

If you "Choose Picture", it loads and spiral rasters your new image as expected.  However, when you actually "Start" and paint the picture, it paints the Mona Lisa default image anyway (even as it traces around your images in the GUI).

#### Steps to reproduce OR Feature idea (Choose one)
  1. Spiral Mode
  2. Choose Picture (anything)
  3. Start
  3. Paints Mona Lisa regardless.

[2017-01-25 17:30] oskay opened #291 "Remove gradient fills from Create and Edit mode"
Edit mode presently supports the ability, in the color picker, to create linear and radial gradients. To see this, double click on one of the color swatches for fill or stroke on the left hand toolbar.

However, since RoboPaint does not have a means to convert these to actual paint (which has led to some user frustration), I recommend that these options be removed.

[2017-04-24 10:00] jayfresh opened #292 "Running from Docker container"
### Description

I'd like to run this in a Docker container, mainly to avoid the Visual Studio dependency on my Windows host. Has anyone done this? It looks like there is some precedent for running electron apps in docker containers: https://medium.com/@calbertts/developing-electron-apps-in-macos-afd21b4a59e3 and https://blog.jessfraz.com/post/docker-containers-on-the-desktop/

#### Feature idea
T

[2017-04-24 16:45] oskay commented on #292
@techninja Is there actually a Visual Studio dependency?

[2017-04-24 16:50] oskay commented on #292
@jayfresh I have not used Docker, or even genuinely understand its purpose. Perhaps you can clarify what your end goal is, so that we can provide further pointers to the correct resources?

I will note that I use RoboPaint on Mac, Windows, and Linux, and have never installed Visual Studio. It seems like there should be some solution here.

[2017-04-24 19:50] techninja commented on #292
Sorry, at a conference right now. Visual Studio is only required for building node-serialport on system that node-pre-gyp doesn't account for when _**developing**_, not for running the compiled release version. I've found that running from node 4.2.0 is reliable, but others have caused problems. Docker is a container system for virtual machines, though even I am a little unclear about how it would

[2017-08-03 20:00] alexiscz opened #293 "Feature / Vertical plotter"
Hi guys,

I don't know if someone already tried to did that but I am currently trying to build a vertical plotter running on raspberry bi and using the EBB board.
EBB board is really a nice product and I am pretty sure it will be a nice use case to build a vertical plotter with it.
I am trying to build something generic so your inputs are very welcome.

What I am currently doing :
- Create a bot c

[2017-08-03 20:47] oskay commented on #293
I should note that there are many types of vertical plotters. Some of them are driven as XY, some are driven as (a+b,a-b), and some are driven in yet other ways. I think that what you are referring to here is a vertical "hanging-V drawing machine" -- but the "vertical" part of it is neither necessary nor sufficient to describe what it is that you are after.

[2017-08-03 20:50] alexiscz commented on #293
Hey Oskay you are in all repositories ;) (cf. CNCserver)
I forgot this information, but you are right I am referring to a vertical hanging drawing machine.
This is why, as we have already discussed on the cncserver repository, I would like to add some functions to convert points from a cartesian system to a polar system.

[2017-08-03 20:56] oskay commented on #293
I imagine that this should be done within cncserver, not robopaint. If cncserver supports this type of motion with an .ini file, then Robopaint support is trivial.

[2017-08-03 23:17] techninja commented on #293
Yup :+1:
We've discussed it a bit and with some kind of consensus there, can make it a feature. PRs are always welcome of course, though development is pretty slow while I'm in the process of moving. Might just have a bugfix release out soon, but no real movement on features. I'm going to close this for the sake of housekeeping as support lies entirely within the realm of cncserver (it simply expo

[2017-08-03 23:17] #293 closed

[2017-08-03 23:53] oskay commented on #293
Agreed 100%. Thank you, @techninja.

[2017-12-05 17:21] oskay opened #295 "v 2.1.0 (Mac) shows as damaged"
Attempting to open this on the Mac shows the infamous "this file is damaged" dialog, which usually indicates that the application is not properly signed.

[2017-12-05 21:37] techninja commented on #295
Weird! I'm getting a new macbook charger very soon so I should be able to verify, it's possible the upload failed, but I'm pretty sure nothing funny has happened to the signing to mess this up in the intervening months. Will check tonight.

[2017-12-06 05:01] techninja commented on #295
El Capitan, downloaded fresh DMG, extracted and installed with no issues. App runs fine. I guess time to upgrade the OS again? 😕

[2017-12-06 21:39] oskay commented on #295
Yes, I think that's it. I believe that you need to be on Sierra or later to sign currently-accepted packages.

[2017-12-06 22:10] techninja commented on #295
Oh sheesh. When the charger comes I'll get the upgrade going

[2017-12-07 00:47] techninja commented on #295
OK! So.. apparently Apple is a terrible company and hates loyal people who appreciate their hardware. My only macbook laptop from ~2009 is now on the no longer supported list, and will be arbitrarily denied OS software updates now, even though it seems to run beautifully on el capitan.

https://www.intego.com/mac-security-blog/what-to-do-if-your-mac-cant-run-macos-sierra/

...now what?

[2017-12-07 00:55] techninja commented on #295
I mean this with full sincerity: As long as your local XCode is updated with the correct certs, building, signing and making releases is vastly more tame than it has been in the past. Lemme know what options you think we've got and we can chat. Maybe you've got an older yet newer macbook laying around 😆

[2017-12-07 02:01] oskay commented on #295
Well... that computer *is* 8 years old....

I don't have any more recent computers lying around (recently recycled a bunch). It may be time to temporarily go back to having me sign the packages.

[2017-12-07 03:21] docprofsky commented on #295
I am on 10.10, Yosemite, though I do not think this can help. I also have access to a PPC iMac.

[2017-12-07 03:30] EmbeddedMan commented on #295
You can easily make a Mac in VirtualBox, and run the latest OS that way on your Windows or Linux machine. Would that help?

[2017-12-07 07:06] techninja commented on #295
Yes, I suppose it will! I suppose I'll head down the rabbit hole. 🕳🐇

[2017-12-08 03:00] techninja commented on #295
![screen shot 2017-12-07 at 6 59 49 pm](https://user-images.githubusercontent.com/320747/33749082-d7db7d02-db80-11e7-838f-5c1b72c63087.png)

UM... Might this be the problem?

[2017-12-08 04:20] oskay commented on #295
Yup. Looks like you might need to renew that. :P

The one on my computer is good to 2022.

[2017-12-08 04:22] oskay commented on #295
Looks like the certificate in your name (on our account) is valid to Dec 07, 2018.

[2017-12-08 04:36] techninja commented on #295
I think what matters here is that cert. I've downloaded the new one, but it isn't available as a signing identity. I sure love how clear as mud this always is. Thanks apple :rage3: 🍎  💥

[2017-12-12 06:38] techninja commented on #295
Aha. Lucky me! [Upgrade is in fact possible.](https://www.youtube.com/watch?v=tZ6TomIhqcY)

[2017-12-15 04:25] techninja commented on #295
FWIW: I've upgraded!... but I've yet to find the time to properly fix the signing cert, because as simple as you'd think it should be.. it is not. 😖

[2017-12-16 21:55] oskay commented on #295
No, you wouldn't think it's simple. Having been through this a few times, I still need to look through the docs every time: https://developer.apple.com/library/content/documentation/IDEs/Conceptual/AppDistributionGuide/MaintainingCertificates/MaintainingCertificates.html

[2018-01-04 18:24] forresto commented on #290
Also reported: https://github.com/techninja/robopaint-mode-spiral/issues/3

[2018-01-08 02:24] lalo commented on #295
Any update on this issue?

[2018-01-22 22:41] techninja commented on #295
@lalo Et Al: Sorry for the wait, life has been crazy as usual. I have my upgraded mac running, I hope to take another few hours soon and simply reset my local certificates (or try under a new user account) to get this working ASAP. Will likely get this out as RP 2.2.0 and a few other bugfixes and upgrades very hopefully before the end of the month.

[2018-01-23 06:37] oskay opened #296 "Update electron for known critical severity security vulnerability"
We have a headline-level security notice from github:
https://github.com/evil-mad/robopaint/network/dependencies

[2018-01-23 06:38] docprofsky commented on #296
Is it for CVE-2017-1000006?

[2018-01-23 06:48] oskay commented on #296
CVE-2018-1000006

[2018-01-23 06:50] docprofsky commented on #296
While searching, I also found an older RCE vulnerability, which is not fixed until 1.6.14 and 1.7.8.
https://electronjs.org/blog/chromium-rce-vulnerability

[2018-01-31 07:15] techninja commented on #295
Ok! I wouldn't believe it if I hadn't seen it myself, but I made a new mac appstore 3rd party distribution cert from this machine (something I was planning on doing anyway to get this on the mac appstore!), and I think it worked!!

@oskay Please test [this testing build](http://robopaint.tn42.com/RoboPaint_Mac_v2.1.0.dmg). If this works, then I can focus on wrapping up the rest of what's needed fo

[2018-02-06 03:45] JellaFella opened #297 "Other bots?"
I'm attempting to use robopaint so I can write APIs for the iDraw, an AxiDraw knockoff. Robopaint RT controls the bot just fine, while robopaint itself doesn't recognize it, and therefore can't connect to it. Any solutions?

[2018-02-06 17:33] oskay commented on #297
You can add additional machine types by adding a new .ini file within cncserver/machine_types.

[2018-02-06 17:33] #297 closed, assigned to nobody

[2018-02-06 17:56] oskay commented on #295
I downloaded it and opened it. It gives a warning that it is from an "unidentified developer", but if you give it permission, it does open and connect.

Is that using an Evil Mad Scientist certificate, or a different one?

[2018-02-06 20:56] JellaFella commented on #297
Would any .ini file work? What information needs to be in it, and in what format? I assume this is posted somewhere, but I can't find it.

[2018-02-07 18:44] oskay commented on #297
Start with one of the files there, and modify as needed.

[2018-02-08 17:23] techninja commented on #295
@oskay Sorry for the wait, just got back from a work trip. That is strange that it says it's from an unidentified developer, this was signed with the new 3rd party distribution certificate, and gave no error. I'll run some diagnostics and attempt more verification as this should be cinched.

[2018-02-08 17:39] oskay commented on #295
It's a partial success-- current MacOS will refuse to open any _unsigned_ package....

[2018-02-08 19:04] techninja commented on #295
...huh. These are the two command suggested by apple to verify signatures.

[code]

Sooo, it verifies and it doesn't. Lovely. More digging is needed I guess 😢

[2018-03-07 07:09] techninja commented on #295
@oskay Spent 2 hours on this. Learning:
- Developer ID application certs are restricted to the private keys/certificate signing request of the specific machine they were created on. When I upgraded, or when it expired, these broke for my local machine, and though I can download/install the Developer ID cert, it's **not** a valid signing identity because it's missing the private key.
- Only "Agents

[2018-03-15 22:57] JellaFella opened #298 "Error on launch. HELP"
### Description

I simply installed and tried to launch, and it gave me a big red box with this error:

I tried deleting every trace of "RoboPaint" from my machine, and reinstalling, but to no avail.
#### Version affected (if bug)
v2.1.0
#### What operating system are you running?
Windows 10

#### How did you install RoboPaint?
System installer

#### What robot are you using?
iDraw X/Y Plotter

##

[2018-03-21 00:34] oskay opened #299 "Possible issue with Scratch API/HTTPS"
TLDR: Control from Snap (and possible other similar interfaces) is currently broken.

Filing this under Robopaint for the moment, but may be more appropriate under https://github.com/techninja/cncserver/issues/ .

With RP open, if I run commands like `localhost:4242/pen.up` in a browser, that works well. However, trying out the same command in [Snap](http://snap.berkeley.edu), as with the https://

[2018-04-30 16:03] oskay commented on #295
Any progress on this? There is a new batch of WaterColorBots starting to ship. ;)

[2018-05-15 20:59] derrallg commented on #295
The testing build posted on January 30th worked for me. I was also getting the Damaged File prompt with the other version. I thought it was odd that the earlier version wasn't available to approve for download in the Security settings and with the update I was able to approve.

[2018-10-18 19:44] jrheard commented on #295
FYI: i see this "damaged file" behavior when i try to run robopaint v 2.1.0 on mac os x version 10.14, on a macbook air. i followed the instructions in [this video](https://www.youtube.com/watch?v=3py0kgq95Hk)  to bypass that prompt, but when i try to run robopaint after that i see "The application 'RoboPaint' can't be opened", and a "problem report" window opens up. here is the information from t

[2018-10-18 20:18] oskay commented on #295
Yes, it's the signature.

[2018-10-20 00:56] lalo commented on #295
I wonder if this might help https://developer.apple.com/developer-id/

[2018-10-20 01:12] oskay commented on #295
We are aware of the method -- it's been signed in the past -- but there has been some kind of an issue with the setup on @techninja's computer.

[2018-10-20 02:05] oskay commented on #295
Since this still seems to be an issue, I've gone ahead and signed a copy of v2.1.0, which I'm linking here: https://evilmadscience.s3.amazonaws.com/wiki/watercolor/software/RoboPaint.app.zip

Would one or two folks be willing to test and see if this works? (If so, I'll replace the download in the release with this one.)

[2018-10-20 02:59] lalo commented on #295
@oskay does not work on my mac os 10.13.6, same error

[2018-10-20 04:03] oskay commented on #295
@lalo Can you please say which error you are getting? We tested downloading on a different computer here and didn't have an issue.

[2018-10-20 04:20] lalo commented on #295
<img width="532" alt="screen shot 2018-10-19 at 9 19 21 pm" src="https://user-images.githubusercontent.com/575454/47251159-bc4d8000-d3e4-11e8-8e39-f60b81c49e64.png">

[code]

[2018-10-20 04:24] oskay commented on #295
Wow-- a completely different error.

Thank you;  I'll look into this.

[2018-10-20 07:29] oskay commented on #295
Here's an updated snapshot to try:
https://evilmadscience.s3.amazonaws.com/wiki/watercolor/software/RoboPaint.zip

[2018-10-20 17:15] lalo commented on #295
It loads but then has an initialization error, thanks for debugging all this @oskay. Is there something I need to install before hand? Just want to make sure its not an error on my side.

<img width="1246" alt="screen shot 2018-10-20 at 10 14 14 am" src="https://user-images.githubusercontent.com/575454/47258515-efc5f400-d450-11e8-93c4-879eafb245f3.png">

[code]

[2018-10-20 17:52] oskay commented on #295
@techninja, any idea what this one is about?

Also, if you can give me a copy that _has  not_ been signed, it may be easier for me to conduct the signing.  I can also share my signing script with you-- if there's any chance that it would help to sign from the CLI rather than automatically.

[2018-10-20 17:58] lalo commented on #295
Looks like its trying to write something without the permission to do it, possibly related to not having permissions on the /private/ folder.

[2018-10-20 19:11] oskay commented on #295
I've tested it here on computers running 10.11.6, 10.13.5, and 10.14, and it appears to be working correctly on each of them.

I also don't have write access on /private/, so that's not it (or at least, not the root cause of the problem).

[2018-10-20 21:38] lalo commented on #295
@jrheard can you test with the latest binary that @oskay shared? I'm know curious if its something on my side.

Also Oskay, do you have the key somewhere on that computer that the app is able to function correctly because it has the developer or debug stuff installed also so it can figure things out automatically? Maybe try with another user that doesn't have access to wherever you develop the app

[2018-10-20 21:54] oskay commented on #295
I don't have debug tools for RoboPaint; I'm not the author of it, and don't know much about how it is built.

The three computers that I tested on are my own (yes, development) computer that I use to sign things, as well as two non-developer computers, with different OS versions, neither of which has any access to signing tools.

[2018-10-20 23:18] jrheard commented on #295
same behavior on my machine, big red error box that says

[code]

[2018-10-20 23:25] oskay commented on #295
@jrheard:
Did you rename the app?

[2018-10-20 23:33] oskay commented on #295
@jrheard and @lalo:
Did you copy RoboPaint.app to /Applications before launching?

[2018-10-20 23:45] lalo commented on #295
@oskay you are correct. The error showed when launched from not /Applications. It launches correctly in /Applications folder. Sorry :\ and thanks for helping out!

[2018-10-20 23:47] oskay commented on #295
Whoa! That was a _long shot_! @jrheard ?

[2018-10-21 00:45] jrheard commented on #295
Same, I was running it from downloads - afk until tomorrow so can’t try
from applications today, but I’m sure it was the same issue!

On Sat, Oct 20, 2018 at 4:47 PM Windell Oskay <notifications@github.com>
wrote:

[2018-10-21 00:46] oskay commented on #295
Please let us know how it turns out when you have a chance. Thanks!

[2018-10-21 23:39] jrheard commented on #295
same result: when i move robopaint to /Applications, it runs fine. i don't have a bot handy to test the program's full functionality with, but it definitely no longer crashes and appears to be in working order!

[2018-10-21 23:45] oskay commented on #295
Fantastic.

Thank you both @lalo and @jrheard for your patience and testing.

[2018-11-16 02:25] arcovirtual commented on #275
[LOGO_SVG_.zip](https://github.com/evil-mad/robopaint/files/2587787/LOGO_SVG_.zip)

I have a problem, my svg logo is all in black on the main page but by taking the full path only the svg is seen correctly, and the css load is external I can not understand why that happens.

look https://mallregional.cl/portal error logo see all black
direct svg look correct https://mallregional.cl/image/catalog/1

[2018-11-16 02:39] oskay commented on #275
See: https://github.com/evil-mad/robopaint/issues/275#issuecomment-243611442

[2018-11-28 19:27] jasoncharney commented on #295
@oskay 's posted version worked for me when I copied it to my Applications folder while the Github release still is damaged. I'm running it in Mojave, 10.14.1.

[2018-11-28 19:56] oskay commented on #295
I've updated  the release with this version.

[2018-11-28 19:56] #295 closed, assigned to techninja

[2019-02-08 21:20] arpruss opened #300 "refill length calculation wrong?"
### Description

When I look at the Robopaint code, I see that the paint refill distance calculation assumes 22.4076923 steps per mm: https://github.com/evil-mad/robopaint/blob/3215224f8c4e06c4ee3e995fa4d02f136370c896/resources/scripts/main.settings.js
(There is also a confusing comment in the code that gives the conversion the wrong way around.)

However, that can't be the right value, since maxA

[2019-02-27 12:28] kritikaperiwal12 commented on #275
Hello,
While showing SVG file on view using Pocket SVG Framework it is showing black color filled. Please tell me the reason behind it.

[2019-02-27 14:04] arcovirtual commented on #275
I solved it and I created a mod for opencart https://www.opencart.com/index.php?route=marketplace/extension/info&member_token=qC6vrvaV71qxSuUggfC1gRL28UKkwXH7&extension_id=35539 regards

[2019-08-16 23:05] ammar23 commented on #275
first, It must be tag style such as   ' <style type="text/css"> '
second, Resave file SVG on Adobe xd and export as SVG

[2019-10-11 14:59] forresto opened #301 "Mac OS X Catalina? Edit: should be OK! ✅"
I just fired up Robopaint 2.1.0-beta and it works, and now I'm worried about updating to Mac OS X Catalina. Has anybody done it with success?

I guess I'll guinea pig in the next weeks....

[2019-10-11 16:29] oskay commented on #301
Tested, appears to work under Catalina.

I have not performed comprehensive testing; if you do encounter things that don't work, please open specific issues for them.

[2019-10-11 16:29] #301 closed, assigned to nobody

[2019-10-11 18:00] forresto commented on #242
FWIW, I did this manually by editing the SVG source, and switching pens 6 times. The alignment was a little unpredictable, but I find the imperfection charming:

![labyrinth-21-robopaint](https://user-images.githubusercontent.com/395307/66673806-65613c00-ec2f-11e9-8d7b-5a2bf7eaf7bd.jpg)
– https://twitter.com/forresto/status/1182675515850874880

[2020-01-17 17:28] oskay opened #302 "Recent issues with connecting"
Several WCB users have sent us recent reports of inability to connect via RoboPaint on Windows.  Apparently running older versions of RoboPaint has allowed some (but not all) users to connect.

One user reports a "uncaught TypeError; this.log is not a function" error after the general failure to connect message.

[2021-02-02 20:26] docsmooth commented on #275
hacky fix for the original files: https://github.com/docsmooth/fix-svg

[2021-11-16 23:40] tomalley4 commented on #302
The  "uncaught TypeError; this.log is not a function" error happened to me on my Windows 10 PC 2 years ago and again today. Installing v0.9.5 (a release I know worked in the past) allows me to connect. I wonder if it has to do with where Robopaint installs... with the latest release I was having trouble finding the location I usually add the axidraw.ini file and finally found it under my username